h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	color: #7c7c7c;
}
h2 {
	font-family: Arial, Helvetica, sans-serif;
	color: #03678B;
	font-size: 1em;
}
h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: #7C7C7C;
	text-align: center;
}
h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #7C7C7C;
}
p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: #333333;
}
a:link {
	font-family: Arial, Helvetica, sans-serif;
	color: #f87408;
	text-decoration: none;
	font-size: 0.8em;
}
a:visited {
	font-family: Arial, Helvetica, sans-serif;
	color: #f87408;
	text-decoration: none;
	font-size: 0.8em;
}
a:hover {
	font-family: Arial, Helvetica, sans-serif;
	color: #f87408;
	text-decoration: underline;
	font-size: 0.8em;
}
a:active {
	font-family: Arial, Helvetica, sans-serif;
	color: #f87408;
	text-decoration: none;
	font-size: 0.8em;
}
.about #text {
	background-color: #FFFFFF;
	text-align: left;
	margin-left: 25px;
	margin-top: 20px;
}
.links #cat {
	background-color: #FFFFFF;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #03678b;
	border-left-width: thin;
	border-left-style: solid;
	border-left-color: #03678b;
	width: 400px;
	padding-left: 10px;
	line-height: 1em;
	vertical-align: bottom;
	margin-left: 85px;
	margin-bottom: 20px;
}
.links #link {
	background-color: #FFFFFF;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #03678b;
	border-left-width: thin;
	border-left-style: solid;
	border-left-color: #03678b;
	width: 370px;
	padding-bottom: 20px;
	padding-left: 10px;
	margin-left: 115px;
	margin-bottom: 20px;
}
.tfcd a:link {
	font-size: 1em;
}
.tfcd a:visited {
	font-size: 1em;
}
.tfcd a:hover {
	font-size: 1em;
}
.tfcd a:active {
	font-size: 1em;
}
.tfcd #main{
	background-color: #FFFFFF;
	text-align: left;
	margin-right: 5px;
	margin-left: 5px;
}
.tfcd #language {
	position:absolute;
	left:600px;
	top:18px;
	width:25px;
	height:15px;
	z-index:1;
}
.latest #frame {
	position:absolute;
	left:13px;
	top:2px;
	width:610px;
	height:460px;
	z-index:1;
}
.latest #LCD {
	position:absolute;
	left:123px;
	top:178px;
	width:260px;
	height:174px;
	z-index:2;
}
