body {
	voice-family: "\"}\"";
	voice-family:inherit;
	font-size:small;
	line-height: 1.5em;
} 
html>body {font-size:small;}
#tabs {
	float:left;
	width:100%;
	font-size:85%;
	line-height:normal;
	height: 23px;
}
#tabs ul {
	margin:0;
	list-style:none;
	padding-top: 2px;
	padding-right: 2px;
	padding-left: 0px;
}
#tabs li {
	float:left;
	background:url("../images/left.jpg") no-repeat left top;
	margin:0;
	padding-top: 0px;
	padding-bottom: 0;
	padding-left: 6px;
}
#tabs a {
	float:left;
	display:block;
	background:url("../images/right.jpg") no-repeat right top;
	text-decoration:none;
	font-weight:bold;
	color:#c4c4c4;
	padding-top: 3px;
	padding-right: 7px;
	padding-bottom: 3px;
	padding-left: 2px;
	text-transform: capitalize;
}
#tabs a {float:none;}
#tabs a:hover {
	color:#f87408;
}
#tabs #current {
	background-image:url("../images/lefton.jpg");
}
#tabs #current a {
	background-image:url("../images/righton.jpg");
	color:#222222;
	padding-bottom:3px;
}
#tabs #close {
	background-image:url("../images/closetableft.jpg");
	margin-left: 5px;
}
#tabs #close a {
	background-image:url("../images/closetabright.jpg");
	color:#222222;
}
#tabs #close a:hover {
	color:#ffffff;
}
